<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragment/common :: head('Hello Spring ')">
    
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-expand-lg bg-body-tertiary rounded" aria-label="Eleventh navbar example" th:replace="~{fragment/common :: Menu('home')}">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Spring Boot Tutorial</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarsExample09">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">홈</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">게시판</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div>
        <div class="bg-body-tertiaryp-5 rounded">
          <div class="col-sm-8 mx-auto">
            <h1>Spring Boot Tutorial</h1>
            <p>Spring Boot을 이용해 웹 페이지 제작<br>
            Spring Security, JPA를 이용해 보안 설정과 데이터 다루기</p>
          </div>
        </div>
      </div>

  </body>
</html>